* {
    box-sizing: border-box;
    margin: 0;
}

.image__row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

.image_columns {
    flex: 50%;
    max-width: 20%;
    padding: 0 4px;
}

.image_columns img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: .2rem;
}

img.image__three {
    margin-top: 8.5rem;
}

img.image__five {
    margin-top: 13.5rem;
}

img.image__six {
    margin-top: 4rem;
}

@media screen and (max-width: 800px) {
    .image_columns {
        flex: 25%;
        max-width: 100%;
    }
}

.about__contact {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.1em;
}

.links__container {
    display: flex;
    justify-content: center;
    margin-top: .4rem;
}

h3 {
    font-family: 'Lusitana', serif;
}

i.fa.fa-github,
i.fa.fa-linkedin, 
i.fa.fa-angellist,
i.fa.fa-globe {
    color: whitesmoke;
    cursor: pointer;
    font-size: 2em;
}

a {
    text-decoration: none;
}
