.about__container {
    display: flex;
}

.image__container {

}

img.image__one {
    height: 5rem;
    border-radius: .5rem;
}

img.image__two {

}

img.image__three {

}

img.image__four {

}

img.image__five {

}

.links__container {

}

.contact__links {

}