input, button {
    border-radius: .2rem;
}

label, button {
    font-family: 'Lusitana', serif;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EF476F;
    opacity: 80%;
    font-weight: 500;
}