.landing__container {
    /* background: url(./images/yogis_practicing.jpg)
    no-repeat center fixed;
    background-size: contain; */
    position: relative;
    min-height: 100vh;
    opacity: 65%;
    background-color: #073B4C;
    background-image: linear-gradient(to bottom right, #073B4C, #06D8A0, #FFD166, #EF476F);
}

.landing__container {
    position: relative;
    /* height: 50rem;
    width: 85rem; */
    background-size: cover;
    vertical-align: bottom;
    opacity: 50%;
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    overflow-y: hidden;
    overflow-x: hidden;
}