.landing__container {
    background: url(./images/yogis_practicing.jpg)
    no-repeat center fixed;
    background-size: contain;
    position: relative;
    min-height: 100vh;
    opacity: 65%;
}

.landing__container {
    position: relative;
    /* height: 50rem;
    width: 85rem; */
    background-size: cover;
    vertical-align: bottom;
    opacity: 50%;
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

img.landing {
    margin: 0;
    height: 50rem;
    width: 85rem;
    overflow: hidden;
}