.background__container {
    position: relative;
    height: 50rem;
    width: 85rem;
    background-size: cover;
    vertical-align: bottom;
    opacity: 75%;
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

img.bottom {
    height: 50rem;
    width: 85rem;
    overflow: hidden;
}

img.top {
    height: 50rem;
    width: 85rem;
    overflow: hidden;
}

.background__container img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

@keyframes backgroundcontainerFadeInOut {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.background__container img.top {
    animation-name: backgroundcontainerFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}

.splash__title {
    position: absolute;
    bottom: 31rem;
    right: 18rem;
    text-align: center;
    color: #EF476F;
}

.sanskrit__title {
    position: absolute;
    bottom: 27rem;
    right: 19.7rem;
    text-align: center;
    color: #EF476F;
}

.welcome__title-a {
    position: absolute;
    bottom: 24rem;
    right: 16.3rem;
    text-align: center;
    color: #EF476F;
}

.welcome__title-b {
    position: absolute;
    bottom: 21rem;
    right: 16rem;
    text-align: center;
    color: #EF476F;
}

.main__intro-container {
    position: absolute;
    bottom: 17rem;
    right: 14.5rem;
    display: flex;
    margin: 0.5rem;
    justify-content: center;
}

li {
    list-style: none;
    display: flex;
    padding: 1rem;
}

/* @media (max-width: 800px) {

} */
