.background__container {
    position: relative;
    height: 100vh;
    width: 100%;
    opacity: 75%;
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

img.bottom {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

img.top {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.background__container img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

@keyframes backgroundcontainerFadeInOut {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.background__container img.top {
    animation-name: backgroundcontainerFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}

.splash__title,
.sanskrit__title,
.welcome__title-a,
.welcome__title-b {
    text-shadow: 0 0 1.75px rgba(7, 59, 76, 0.671), 0 0 1.75px rgb(7, 59, 76, 0.671),
    0 0 1.75px rgb(7, 59, 76, 0.671), 0 0 1.75px rgb(7, 59, 76, 0.671);
}

.splash__title {
    position: absolute;
    bottom: 26.5rem;
    right: 14.2rem;
    text-align: center;
    color: #EF476F;
    letter-spacing: 0.25rem;
}

.sanskrit__title {
    position: absolute;
    bottom: 23rem;
    right: 17.7rem;
    text-align: center;
    color: #EF476F;
}

.welcome__title-a {
    position: absolute;
    bottom: 20rem;
    right: 13.3rem;
    text-align: center;
    color: #EF476F;
    font-size: 1.2rem;
}

.welcome__title-b {
    position: absolute;
    bottom: 17rem;
    right: 13.1rem;
    text-align: center;
    color: #EF476F;
    font-size: 1.2rem;
}

.welcome__buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 13.6rem;
    right: 13rem;
}

li {
    list-style: none;
    display: flex;
    padding: 1rem;
}