.profile__container-a {
    display: flex;
    max-width: 700px;
    height: 15rem;
    margin: auto;
    padding: 0 1rem;
    margin-top: 2rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0rem .75rem 3rem -.2rem rgba(0, 0, 0, 0.75);
    text-align: left;
    background-color: whitesmoke;
}

@media (max-width: 900px) {
    .profile__container {
        flex-direction: column;
    }
}

.profile__user-b .profile__bio {
    display: flex;
    justify-content: flex-end;
    height: 15rem;
    width: 30rem;
}

.profile__user-info {
    position: relative;
    height: 5rem;
    overflow: hidden;
    top: 8rem;
    margin-left: 1.1rem;

}

@media (max-width: 900px) {
    .profile__user-info {
        width: 100%;
    }
}

div.profile__image img {
    margin: 1rem;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    position: absolute;
}

.profile__username {
    display: flex;
    flex-direction: row;
}

.profile__name {
    display: flex;
    flex-direction: row;
}

.profile__email {
    display: flex;
    flex-direction: row;
}

.profile__location {
    display: flex;
    flex-direction: row;
}

.profile__bio {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.profile__container-b {
    display: flex;
    max-width: 700px;
    height: 100%;
    margin: auto;
    padding: 0 1rem;
    margin-top: 2rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0rem .75rem 3rem -.2rem rgba(0, 0, 0, 0.75);
    text-align: left;
    background-color: whitesmoke;
}

.classes_main {

}

.classes__container {

}

.class__tile {
    margin: 1rem 0;
}

.myclasses__image {

}

.myclasses__info {

}