.messages {
  display: flex;
  padding: 0 1rem;
  max-width: 950px;
  height: 95vh;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.message__container {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  box-shadow: 0rem .75rem 3rem -.2rem rgba(0, 0, 0, 0.75);
  border-radius: 0.75rem;
  margin: .25rem;
  padding: 1rem;
}

.message__text-view {
  width: 100%;
  justify-content: space-between;
}

.message__users-container {
  display: flex;
  width: 30%;
  align-items: center;
}

.message__title {
  color: rgba(0, 0, 0, 0.76);
  font-weight: 300;
  width: fit-content;
  margin: 0 auto;
  background-color: whitesmoke;
  margin-bottom: 1rem;
}

.message__other-user {
  background: transparent;
  border-radius: .75rem;
  padding: 0.5rem;
  width: stretch;
  margin: 0 auto 0.25rem;
  font-family: 'Lusitana', serif;
}

.message__other-user:hover {
  cursor: pointer;
  background: #EF476F;
  box-shadow: 0rem .75rem 3rem -.2rem rgba(0, 0, 0, 0.75);
}

.message__other-user-active {
  background: #EF476F;
  box-shadow: 0rem .75rem 3rem -.2rem rgba(0, 0, 0, 0.75);
}

.message__text-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.message__text {
  overflow: scroll;
  max-height: 70vh;
  display: flex;
  flex-direction: column-reverse;
}

.messages__right {
  align-self: flex-end;
  margin-left: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1rem;
}

.messages__right:hover {
  cursor: pointer;
}

.messages__left {
  margin-right: 0.75rem;
}

p.single__message{
  background-color: rgba(6, 214, 160, 0.25);
  border-radius: 0.75rem;
  width: 65%;
  padding: 0.35rem;
  box-sizing: content-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  font-family: 'Lusitana', serif;
}

.message__timestamp {
  font-size: 0.75rem;
  margin-bottom: .25rem;
}

.message__form {
  display: flex;
  margin-top: 0.75rem;
}

.message__form-input {
  border-radius: 0.75rem;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  padding: 0.25rem;
  font-size: 1rem;
  font-family: 'Lusitana', serif;
}

div.form__input {
  width: 100%;
}

.message__form-button {
  margin: 0px auto 0;
	line-height: 15px;
	height: auto;
	padding: 10px 10px;
	min-width: 80px;
	color:rgb(237, 237, 237);
	background-color: #EF476F;
	transition: all 0.2s ease;
	border-style: none;
	border-radius: 20px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
	outline: none;
  margin-top:.5rem;
}

.message__form-button:hover{
  box-shadow: .75rem 3rem -.2rem rgba(0, 0, 0, 0.75);
}

.msg-form-modal__button {
  color: rgba(239, 71, 111, 0.6) !important;
}

.msg-form-modal__button:hover {
  color: rgb(239, 71, 111) !important;
}

.msg-form-modal__button:active {
  color: rgba(239, 71, 111, 0.6) !important;
}

.message__form-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message__form-modal__msg-and-btn {
  display: flex;
}

.message__form-modal__button {
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
}