input, button {
    border-radius: .2rem;
}

input.is__student {
    display: flex;
}

input.is__teacher {
    display: flex;
}

label, button {
    font-family: 'Lusitana', serif;
}

.signup__errors {
    color: #EF476F;
}

button {
    margin-top: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EF476F;
    opacity: 80%;
    font-weight: 500;
}