.nav__container {
    position: fixed;
    width: 60px;
    top:0;
    left: 0%;
    height: 100vh;
    z-index: 100;
    background-color: #073b4c;
    overflow:hidden;
    transition: width .3s ease;
    cursor:pointer;
    box-shadow:4px 7px 10px rgba(0,0,0,.4);
}

.nav__container:hover {
    width: 200px;
}

.nav {
  list-style-type: none;
  color:white;
}

.nav:first-child {
    padding-top: 1.5rem;
}

.nav__items {
    padding-bottom:4rem;
    font-family: 'Cormorant Garamond', serif;
}

.nav__items a {
    position: relative;
    display:block;
    top:-35px;
    padding-left:25px;
    padding-right:15px;
    transition:all .3s ease;
    margin-left:25px;
    margin-right:10px;
    text-decoration: none;
    color:white;
    font-family: 'roboto';
    font-weight: 100;
    font-size: 1.35em;
}

.nav__items a:after {
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    border-radius:2px;
    background:radial-gradient(circle at 94.02% 88.03%, #118AB2, transparent 100%);
    opacity:0;
    transition:all .5s ease;
    z-index: -10;
}

.nav__items:hover a:after {
    opacity: 1;
}
    
i.fas {
    width:26px;
    height:26px;
    position: relative;
    left:-25px;
    cursor:pointer;
}