.fa-2x {
    font-size: 2em;
}
.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
}


.main__menu:hover,nav.main__menu.expanded {
    width:250px;
    overflow:visible;
}

.main__menu {
    background:#EF476F;
    position:absolute;
    top:0;
    bottom:0;
    height: 100rem;
    left:0;
    width:60px;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition: width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
}

.main__menu > ul {
    margin:7px 0;
}

.main__menu li {
    position:relative;
    display:block;
    width:250px;
}

.main__menu li > a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#073B4C;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.3rem;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear; 
}

.main__menu i {
    position:relative;
    display:table-cell;
    width:3.7rem;
    height:2.9rem;
    text-align:center;
    vertical-align:middle;
    font-size: 1.8rem;
}

.main__menu .nav__text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    font-family: 'Cormorant Garamond', serif;
}

.main__menu > ul.logout {
    position:absolute;
    left:0;
    bottom:0;
}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}

a:hover,a:focus {
    text-decoration:none;
}

nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
}

.main__menu li:hover>a,nav.main__menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color: whitesmoke;
    background-color:#06ADA0;
}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

/* .nav__logo {
    top: 0;
    transform: scale(0.90);
    height: 9.5rem;
} */